<a href="https://colab.research.google.com/github/Josh-BI-UK/AiCore-Orientation/blob/main/01_Python_Essentials_Print_function_n_varibles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook follows the AiCore _**Python Essentials**_ learn path taken as part of the AiCore Flagship 16 week boot camp course.


# 01 - Printing in Python


1.1. Print out the message "This print statement was created in Python".

1.2. name: Print with Multiple Arguments
> **Description:** Assign your age to a variable, then, using a single print statement with multiple parameters, print "Age:" followed by your age.

In [ ]:
msg = "This print statement was created in Python"
print(msg)

This print statement was created in Python

In [ ]:
my_name = 'Josh'
age = 39
home_town = ' London'
print(f"Hi my name is {my_name}, i'm {age}, \U0001F923, my home town is {home_town} \U0001F64C")

Hi my name is Josh, i'm 39, ðŸ¤£, my home town is  London ðŸ™Œ

# 02 - Variables

## **Learning Objectives**
After completing this section, you should understand:

- variable assignment and naming conventions.
- strings and some basic string methods, including `.format()`.
- indexing and slicing operations.

The lesson notebook teaching the techquies used below can be found [here](https://github.com/Josh-BI-UK/Ai-Core-Content-Public/blob/main/units/Essentials/6.%20Python%20programming/2.%20Variables/Notebook.ipynb)

## 2.1 Variable Assignment & Re-assignment 
> **Description:** 
> 1. Define two variables `num1`, and `num2` with the values 37 and 52 respectively
> 2. What is the sum of num1 and num2? What about the product?
> 3. Now reassign `num1` and `num2` to have the values 8 and 3 respectively
> 4. Reuse the code to determine their sum and product

In [ ]:
num1 = 37
num2 = 52

print(num1 + num2)

89

In [ ]:
num1 = 8
num2 = 3

print(num1 + num2)

11

## 2.2 Different Variable Types

> **Description:** 
Define the the following variables `num = 23`, `text_num = â€œ57â€` and `decimal_num = 98.3`
1. Print the types of each variable (hint: use a type comversion function)
2. What is the sum of your variables? What datatype is the sum?


## 2.3 Printing Multiple Variables - part-1

> **Description:** 
You can use the print function to print multiple variables of different types on a single line. 
> This can be done by using comma to separate variables within the parentheses of the print function. 
> For example: `print(variable1, variable2)`. You can also print raw values that have not been assigned variables. 
    For example, `print("This is variable 1: ", 67)`.

In [ ]:
#Assigning multiple variables in one statement
num, text_num, decimal_num = 23, '57', 98.3

#Print multiple variables on one line
print('num = ',type(num),"; ",'text_num = ',type(text_num),"; ",'decimal_num = ',type(decimal_num))

#Print multiple variables on serprate lines, using tab ('\t') and newline ('\n') ascii code
print('\t\n','num = ',type(num),'\t\n','text_num = ',type(text_num),'\t\n','decimal_num = ',type(decimal_num))

num =  <class 'int'> ;  text_num =  <class 'str'> ;  decimal_num =  <class 'float'>

 num =  <class 'int'>
 text_num =  <class 'str'>
 decimal_num =  <class 'float'>

## 2.3 Printing Multiple Variables - part-2

1. For this exercise, define 5-10 numbers as variables. `num1=...`, `num2=...`
2. Use a single print statement to print all of the even numbers out of your newly defined variables with the following statement, `"These are my even numbers:"`.

In [ ]:

# define 5-10 numbers as variables. num1=..., num2=...
num1, num2, num3, num4, num5, num6, num7, num8, num9, num10 = 1, 2 , 3, 4, 5, 6, 7, 8, 9, 10
my_num_list = [num1, num2, num3, num4, num5, num6, num7, num8, num9, num10]
print(my_num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

# Print statement to print all of the even numbers with message "These are my even numbers:"
even_nums = []
odd_nums = []
for mynum in my_num_list:
  if (mynum % 2) == 0:
    even_nums.append(mynum)
  else: 
    odd_nums.append(mynum)

print ('These are my even numbers:',even_nums)
print ('These are my odd numbers:',odd_nums)

These are my even numbers: [2, 4, 6, 8, 10]
These are my odd numbers: [1, 3, 5, 7, 9]

2. The + operator in Python works with strings variables as well as numeric types - but it simply concatenates strings together one after the other. Using + and the example below, write your output as a single complete sentence. (Hint: you'll probably need to use at least one type conversion function). 
`print("work" + "shop")` will output `workshop` ; `print("3" + "7")` will output `37`.

In [ ]:
print("work" + "shop","","3" + "7")

workshop  37

## 2.4 Calculate Your Shopping Bills
**Description:**
1. Assign variables for each of these items and their prices
        - Tomatoes cost 87p for a pack of 6
        - 500g sugar costs Â£1.09
        - Washing sponges cost 29p for a pack of 10
        - Juice is Â£1.89 per 1.5l bottle
        - Foil is Â£1.29 per 30m roll
2. Using arithmetic operations in Python, calculate the price of 1kg sugar
3. What is the price of 20 washing sponges, 3l of juice, and 2 packs of tomatoes?

In [ ]:
tomatoes_6_per_pck = 0.87
sugar_500g = 1.09
washing_sponges_pck_10 = 0.29
juice_per_bottle_1_5L = 1.89
foil_per_30m_roll = 1.29

sugar_1kg = sugar_500g * 2
washing_sponges_qty_20 = washing_sponges_pck_10 * 2
juice_3L = juice_per_bottle_1_5L * 2
tomatoes_2_pcks = tomatoes_6_per_pck * 2
my_shop_total = sugar_1kg + washing_sponges_qty_20 + juice_3L + tomatoes_2_pcks

print(f'My shopping list total is:',"Â£{:,.2f}".format(my_shop_total))

My shopping list total is: Â£8.28

## 2.5 Calculate a Groups Shopping Bills
**Description:**
1. How much would it cost for 5 people if each person needs:
       - A pack of tomatoes
       - 3 washing sponges
       - A litre of juice
       - 20m of foil
       - 180g sugar

In [ ]:
# 5 person shopping list
per_person_shop_total = (tomatoes_6_per_pck 
+ ((washing_sponges_pck_10 // 10) * 3) 
+ ((juice_per_bottle_1_5L // 1.5) * 1) 
+ ((foil_per_30m_roll // 30) * 20) 
+ ((sugar_500g // 500) * 180) )

grp_size = 5

grp_shop_total = per_person_shop_total * grp_size

print(f"\t\n The shop for a group of {grp_size} people totals =","Â£{:,.2f}.".format(grp_shop_total),"\t\n That\'s","Â£{:,.2f},".format(per_person_shop_total),"per person.")

 The shop for a group of 5 people totals = Â£9.35.
 That's Â£1.87, per person.

2. Assign the value to total
  - Provide your answer as a printed variable called total.


3. These prices do not include VAT. Calculate the VAT on the total, assuming that VAT is 20%.


4. Then round it appropriately to two decimal places.

In [ ]:
# Assign value to total
total = grp_shop_total
print("Â£{:,.2f}".format(total))

VAT_pct = 0.20

# Calculate VAT amount
vat_amount = total * VAT_pct

# rounded VAT amount
vat_amount  = round(vat_amount,2)

total_inc_vat = total * (1 + VAT_pct)
print("Â£{:,.2f}".format(total_inc_vat))

Â£9.35
Â£11.22